import(
       'methods',
       'utils')

export(
       'SampleHaplotype',
       'SampleHaplotypes',
       'RemoveHomozygotes',
       'AssignQTL',
       'ListQTL',
       'getAll',
       'SampleBaseHaplotype',
       'buildhPedigree',
       'hPed2Ped',
       'SamplePedigree',
       'haploList',
       'validhaploListObject')

exportClasses(
              'haplotype',
              'haploList')

exportMethods(
              "[",
              "c",
              "print",
              "show")

